<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title id = "title">Welcome to the PokePicker</title>
    </head>
    <body>
        <h1>Please select your favorite element</h1>
        <form action="/results" method="post">
            <select id="element" name= "user_element"> 
            <option value="Fire"> Fire</option>
            <option value="Rock"> Rock</option>
            <option value="Fighting"> Fighting</option>/>
            <option value="Fairy"> Fairy</option>/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>